:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #4a4a4a;
  --border-color: #dbdbdb;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  /* 100% ==16px==1rem */
  font-size: 62.5%;
  /* 1 rem = 10px */
  /* chiều cao dòng */
  line-height: 1.6rem;
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: "Roboto", sans-serif; */
  font-family: 'Quicksand', sans-serif;
}
