{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Shopping</title>

    <!-- css -->
    <link rel="stylesheet" href="{%static 'app/assets/css/style.css'%}" />
    <link rel="stylesheet" href="{%static 'app/assets/css/base.css'%}" />
    <link rel="stylesheet" href="{%static 'app/assets/css/button.css'%}" />
    <link rel="stylesheet" href="{%static 'app/assets/css/grid.css'%}" />
    <link rel="stylesheet" href="{%static 'app/assets/css/responsive.css'%}" />

    <!-- font -->
    <!-- icon -->

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v6.1.1/css/all.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v6.1.1/css/all.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    -->
  </head>
  <body>
    <div class="web">
      <header class="header">
        <div class="grid wide header__navbar-container">
          <!-- đt pc -->
          <div class="row header__navbar-section">
            <!-- Giao diện thanh navbar   -->
            <nav class="col header__navbar">
              <!-- more trên mobile -->

              <!-- trên pc -->
              <!--  logo -->
              <div class="header__navbar-img">
                <a href="{%url 'home'%}" class="header__navbar-logo">
                  <img
                    src="../../../app/static/app/assets/img/header__logo.png"
                    alt=""
                    class="header__navbar-logo-img"
                  />
                </a>
              </div>
              <!-- list navbar  -->

              <ul class="header__navbar-list">
                <!-- 1 -->
                <li class="header__navbar-item header__navbar-item--chose">
                  <a
                    class="header__navbar-link header__navbar-link--chose"
                    href="{%url 'home'%}"
                    >Trang chủ</a
                  >
                </li>
    
                <li class="header__navbar-item hang_li">
                  <a href="" class="header__navbar-link"> Hãng </a>
                  <ul class="header__navbar-link-menusub">
                    {%for h in hangs %}

                    <li class="header__navbar-link-menusub-li">
                      <a href="{%url 'getdtbyhang'%}?tenhang={{h.id}}"
                        >{{h.ten}}</a
                      >
                    </li>
                    {%endfor%}
                  </ul>
                </li>
                <!-- 4 -->
                <li class="header__navbar-item gia_li">
                  <a href="" class="header__navbar-link"> Giá </a>

                  <ul class="header__navbar-link-menusub">
                    <li class="header__navbar-link-menusub-li">
                      <a href="{%url 'getdtbygia'%}?giaDT=1000000">Dưới 5tr</a>
                    </li>
                    <li class="header__navbar-link-menusub-li">
                      <a href="{%url 'getdtbygia'%}?giaDT=10000000"
                        >Từ 5tr đến 15tr</a
                      >
                    </li>
                    <li class="header__navbar-link-menusub-li">
                      <a href="{%url 'getdtbygia'%}?giaDT=100000000"
                        >Trên 15tr</a
                      >
                    </li>
                  </ul>
                </li>

                <li class="header__navbar-item">
                  <a href="{%url 'login'%}" class="header__navbar-link">
                    Đăng nhập
                  </a>
                </li>
              </ul>

              <div class="header__navbar-search">
                <form
                  class="form_search"
                  role="search"
                  action="{%url 'search'%}?search"
                >
                  <input
                    class="header__navbar-input"
                    type="search"
                    placeholder="Tìm kiếm sản phẩm..."
                    aria-label="Search"
                    name="search"
                  />
                  <button class="btn btn-outline-success" type="submit">
                    <i
                      class="fa-solid fa-magnifying-glass header__navbar-search-icon"
                    ></i>
                  </button>
                </form>
              </div>


              <!-- giỏ hảng  -->
              <div class="header__navbar-cart">
                <!-- nút chính  -->
                <div class="header__navbar-cart-wrap">
                  <i class="header__navbar-cart-icon fa-solid fa-cart-shopping">
                  </i>
                  <span class="header__navbar-cart-desc"
                    ><a href="{%url 'cart'%}" style="text-decoration: none"
                      >Giỏ hàng</a
                    ></span
                  >
                </div>
              </div>
            </nav>
          </div>
        </div>
      </header>
      <!-- bắt đầu slide  -->
      <div class="web__container">
        <div class="grid wide">
          <div class="row">
            <div id="slideshow">
              <div class="slide-wrapper">
                <div class="slide">
                  <img
                    src="../../../app/static/app/assets/img/banner.avif"
                    class="slider-img"
                  />
                </div>
                <div class="slide">
                  <img
                    src="../../../app/static/app/assets/img/intro2.webp"
                    class="slider-img"
                  />
                </div>
                <div class="slide">
                  <img
                    src="../../../app/static/app/assets/img/img__introduce3.jpg"
                    class="slider-img"
                  />
                </div>
                <div class="slide">
                  <img
                    src="../../../app/static/app/assets/img/img__introduce4.jpg"
                    class="slider-img"
                  />
                </div>
              </div>
            </div>
          </div>

          <!-- hết slide -->
          <!-- slide mobile  -->
          <div id="slideshow-m">
            <div class="container">
              <section>
                <img
                  src="./assets/img/intro1.webp"
                  alt=""
                  class="slider-img-m"
                />
              </section>
            </div>
          </div>
          <!-- heets slide mobile  -->
          <div class="web__container-voucher grid wide">
            <div class="web__container-voucher-heading">
              ĐẶC QUYỀN CHO BẠN HÔM NAY!
            </div>
          </div>
          <div class="grid wide">
            <div class="web__container-voucher-list row">
              <!-- 1 itemm  -->
              <div class="web__container-voucher-item col l-3 m-6 c-12">
                <div class="web__container-voucher-inner">
                  <div class="web__container-voucher-item-heading">
                    Shop giao hoả tốc , freeship
                  </div>
                  <div class="web__container-voucher-item-desc">
                    Giờ đây bạn có thể nhận hàng nhanh trong ngày mà không cần
                    chờ đợi tại Đà Nẵng
                  </div>
                </div>
              </div>
              <!-- 1 itemm  -->
              <div class="web__container-voucher-item col l-3 m-6 c-12">
                <div class="web__container-voucher-inner">
                  <div class="web__container-voucher-item-heading">
                    Tặng quà tri ân
                  </div>
                  <div class="web__container-voucher-item-desc">
                    Áp dụng đặc biệt cho đơn hàng từ 1.000.000 đồng. Nhanh tay
                    lên nào
                  </div>
                  <div class="web__container-vourcher-item-copy">
                    <button class="web__container-copy-btn">Sao chép mã</button>
                  </div>
                </div>
              </div>
              <!-- heets 1 item  -->
              <!-- 1 itemm  -->
              <div class="web__container-voucher-item col l-3 m-6 c-12">
                <div class="web__container-voucher-inner">
                  <div class="web__container-voucher-item-heading">
                    Khuyến mãi
                  </div>
                  <div class="web__container-voucher-item-desc">
                    Mã giảm 200.000 đồng cho hoá đơn mua hàng trên 5.999.999
                    đồng. Đến ngay Poly
                  </div>
                  <div class="web__container-vourcher-item-copy">
                    <button class="web__container-copy-btn">Sao chép mã</button>
                  </div>
                </div>
              </div>
              <!-- heets 1 item  -->
              <!-- 1 itemm  -->
              <div class="web__container-voucher-item col l-3 m-6 c-12">
                <div class="web__container-voucher-inner">
                  <div class="web__container-voucher-item-heading">
                    Đà Nẵng Freeship
                  </div>
                  <div class="web__container-voucher-item-desc">
                    Shop dành tặng siêu lớn mã freeship 0đ (số lượng vô hạn).
                    Đến ngày 4/8
                  </div>
                  <div class="web__container-vourcher-item-copy">
                    <button class="web__container-copy-btn">Sao chép mã</button>
                  </div>
                </div>
              </div>
              <!-- heets 1 item  -->
            </div>
          </div>
          <!-- het voucher  -->
          <!-- sanr pham  -->
          <div class="item__section grid wide">
            <!-- 1 muc luc  -->
            <div class="item__section-title col">
              <div class="item__section-heading">Product</div>
              <div class="item__section-heading-all">Xem tất cả</div>
            </div>
            <!-- het 1 muc  -->
            <!-- lisst san pham muc 1  -->
            <div class="item__section-wide grid wide">
              <div class="item__section-list row">
                {% for dt in dienthoais %}
                <!-- 1 sp  -->
                <div class="item__section-item l-2-4 m-4 c-12 col">
                  <div class="item__section-item-inner">
                    <a
                      href="{%url 'detail'%}?id={{dt.id}}"
                      style="text-decoration: none"
                    >
                      <!-- anh  -->
                      <div class="anh">
                        <div class="item__section-item-img">
                          <img
                            class="item__section-item-img_front"
                            src="{{dt.image.url}} "
                          />
                          <img
                            class="item__section-item-img_back"
                            src="{{dt.image.url}}"
                          />
                        </div>
                      </div>
                      <!-- het anh  -->
                      <!-- chi tiet 1 sp  -->
                      <div class="item__section-item-desc">
                        <div class="item__section-item-heading">{{dt.ten}}</div>
                        <div class="item__section-item-price">
                          {{dt.gia|floatformat:0}} VND
                        </div>
                      </div>
                      <div class="item__section-item-button">
                        <form
                          method="POST"
                          action="{% url 'add_cart_home' dt.id %}"
                        >
                          {% csrf_token %}
                          <button class="button-30" role="button">
                            Thêm Vào Giỏ
                          </button>
                        </form>
                        <!-- <button class="button-30" role="button">Thêm Vào Giỏ</button> -->
                        <!-- <button class="button-30" role="button">Mua Ngay</button> -->
                        <form method="POST" action="{% url 'add_cart' dt.id %}">
                          {% csrf_token %}
                          <button class="button-30" role="button">
                            Mua Ngay
                          </button>
                        </form>
                      </div>
                    </a>
                    <!-- het chi tiet 1 sp  -->
                  </div>
                </div>
                <!-- het 1 sp  -->
                {% endfor %}
              </div>
            </div>
            <!-- het list  -->
            <!-- nut  -->
            <div class="item__section-footer col">
              <button class="item__section-footer-btn">
                <span class="item__section-footer-info">Xem thêm sản phẩm</span>
                <a href="" class="item__section-footer-desc">Điện Thoại </a>
              </button>
            </div>
            <!-- het nut  -->
          </div>
          <!-- container  1 loại sp -->
        </div>
      </div>
      <div class="web__container-suggest">
        <div class="grid wide">
          <div class="row">
            <div class="web__container-suggest-desc col">Gợi ý</div>
            <div class="web__container-suggest-img-container">
              <img
                src="../../../app/static/app/assets/product/bottom1.jpg"
                alt=""
                class="web__container-suggest-img col l-4 m-6 c-12"
              />
              <img
                src="../../../app/static/app/assets/product/bottom2.jpg"
                alt=""
                class="web__container-suggest-img col l-4 m-6 c-0"
              />
              <img
                src="../../../app/static/app/assets/product/bottom3.jpg"
                alt=""
                class="web__container-suggest-img col l-4 m-0 c-0"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- het suggest  -->
      <footer class="web__footer">
        <div class="grid wide">
          <div class="row">
            <!-- cot 1  -->
            <div class="web__footer-about col l-3 m-0 c-0">
              <h4 class="web__footer-about-heading">Về DEGREY</h4>
              <span class="web__footer-about-desc">
                Cái tên Degrey được tạo ra rất ngẫu hứng, xuất phát từ “Chuỗi
                ngày u buồn về sự nghiệp, tương lai trong quá khứ của chính
                mình” – theo lời chia sẻ của Degrey’s founder.
              </span>

              <div class="web__footer-about-img">
                <img
                  src="./assets/img/web__footer-about-img"
                  alt=""
                  class="web__footer-about-img-link"
                />
              </div>
            </div>
            <!-- het cot 1  -->
            <!-- cot 2  -->
            <div class="web__footer-address col l-3 m-0 c-0">
              <h4 class="web__footer-address-heading">Địa chỉ</h4>
              <div class="web__footer-address-desc">
                <div class="web__footer-address-desc-info">
                  -Đà Lạt:
                  <div class="web__footer-address-desc-info-inner">
                    43 Huỳnh Văn Bánh P.17 Q.Phú Nhuận
                  </div>

                  <div class="web__footer-address-desc-info-inner">
                    905 Luỹ Bán Bích P.Tân Thành Q.Tân Phú
                  </div>

                  <div class="web__footer-address-desc-info-inner">
                    26 Lý Tự Trọng Q.1 - The New Playground
                  </div>
                </div>

                <div class="web__footer-address-desc-info">
                  Điện thoại:
                  <div class="web__footer-address-desc-info-inner">
                    0336311117
                  </div>
                </div>

                <div class="web__footer-address-desc-info">
                  Email:
                  <div class="web__footer-address-desc-info-inner">
                    degrey.vn@gmail.com
                  </div>
                </div>
              </div>
            </div>
            <!-- end cot 2  -->
            <!-- cot 3  -->
            <div class="web__footer-support col l-3 m-0 c-0">
              <h4 class="web__footer-support-desc">Hỗ trợ khách hàng</h4>
              <ul class="web__footer-support-desc">
                <li class="web__footer-support-desc-item">Shop</li>
                <li class="web__footer-support-desc-item">
                  Hướng dẫn đặt hàng
                </li>
                <li class="web__footer-support-desc-item">
                  Chính sách và quy định
                </li>
                <li class="web__footer-support-desc-item">
                  Chính sách bảo mật
                </li>
                <li class="web__footer-support-desc-item">Thông tin sở hữu</li>
              </ul>
            </div>
            <!-- end 3  -->
            <!-- 4 -->
            <div class="web__footer-care col l-3 m-0 c-0">
              <h4 class="web__footer-care-desc">Chăm sóc khách hàng</h4>
              <div class="web__footer-care-mail">
                <div class="web__footer-care-mail__phone-number">
                  <i
                    class="fa-solid fa-phone web__footer-care-mail__phone-number-icon"
                  ></i>
                  <div class="web__footer-care-mail-inner">0336311117</div>
                </div>

                <div class="web__footer-care-mail-inner2">
                  degrey.vn@gmail.com
                </div>
              </div>
            </div>
            <!-- end 4  -->
          </div>
        </div>
      </footer>

      <!-- cuoi  -->
      <div class="web__footer-copyright">
        Copyright © 2022 VIETNAM.
        <a href="https://www.haravan.com/" class="web__footer-copyright-link"
          >Powered by Haravan</a
        >
      </div>
    </div>
  </body>
</html>
